<header class="@@el header">
  <div class="container header__container">
    <div class="header__dropdown">
      <nav class="header__nav" role="navigation">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#intro" class="js-anchor header__nav-link">О компании</a>
          </li>
          <li class="header__nav-item">
            <a href="#intro" class="js-anchor header__nav-link">Команда</a>
          </li>
          <li class="header__nav-item">
            <a href="#intro" class="js-anchor header__nav-link">Принципы</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="/" class="header__logo">
      <picture>
        <img src="images/logo-brand.svg" width="20" height="26" alt="Стратегический консалтинг">
      </picture>
    </a>
    <div class="header__aside">
      <ul class="language-switch header__aside-switch">
        <li class="language-switch__item">
          <a href="#" class="language-switch__link is-active">Ru</a>
        </li>
        <li class="language-switch__item">
          <a href="#" class="language-switch__link">En</a>
        </li>
      </ul>
      <a href="#" class="header__aside-link-call">Связаться с нами</a>
    </div>
  </div>
</header>